PYTEST_COMPLETION_MODEL_HOST=localhost
PYTEST_COMPLETION_MODEL_PORT=8001
PYTEST_COMPLETION_MODEL_API_KEY=token
PYTEST_CHAT_MODEL_HOST=localhost
PYTEST_CHAT_MODEL_PORT=8001
PYTEST_CHAT_MODEL_API_KEY=token
PYTEST_EMBEDDING_MODEL_HOST=localhost
PYTEST_EMBEDDING_MODEL_PORT=58891
PYTEST_EMBEDDING_MODEL_API_KEY=token